header {
  background-color: #eeeff1;
}
header .header-nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.nav .header-nav-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
  font: Roboto, Roboto sans-serif;
  padding: 80px 0 80px;
  background-color: #eeeff1;
}

a {
  color: #34547a;
  text-decoration: none;
}

.bc-gray {
  background-color: #eeeff1;
}
.bc-gray .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.bc-gray .container .section1 {
  padding: 60px 0 150px;
}

.section1 :first-child {
  font-size: 48px;
  font-weight: 600;
  line-height: 78.75px;
  width: 541px;
  color: #000000;
}

.section1 :nth-child(2) {
  width: 540px;
  margin-top: 20px;
  color: #727272;
  font-family: Roboto, Roboto sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 164%;
  color: #727272;
}

.section1 button {
  cursor: pointer;
  background: #34547a;
  height: 65px;
  width: 225px;
  color: white;
  font-weight: 400;
  line-height: 26.25px;
  font-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 20px;
}

.section1 button:hover {
  background-color: #183961;
  color: #727272;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 100px;
}

.section2 p {
  text-align: center;
  width: 540px;
  height: 147px;
  color: #727272;
}

.section2 h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 37.5px;
  text-align: center;
  width: 540px;
  margin-bottom: 20px;
}

.metalick-blue {
  background: #34547a;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}

.section3-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section3 {
  padding: 80px 0 80px;
}
.section3 .section3-descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.section3 .section3-descriptions-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
}
.section3 .section3-descriptions-text :first-child {
  font-size: 21px;
  line-height: 24.61px;
}
.section3 .section3-descriptions-text :last-child {
  font-size: 16px;
  line-height: 26.25px;
}

.bc-gray {
  background: #eeeff1;
}
.bc-gray .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.section4 {
  padding: 0 20px;
}

.section4-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 0 0;
}

.section4-description h2 {
  font-size: 32px;
  color: #000000;
  line-height: 37.5px;
  font-weight: bold;
}

.section4-description p {
  text-align: center;
  width: 540px;
  margin-top: 20px;
  color: #727272;
}

.images {
  position: relative;
}

.images img {
  width: 1070px;
  height: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.images::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  background: url("../images/play-button.png") no-repeat center center;
  background-size: contain;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
}

.footer :first-child {
  font-size: 13px;
  font-weight: 21.33px;
  padding-top: 30px;
  line-height: 24.61px;
}

.footer :last-child {
  font-size: 13px;
  font-weight: 500;
  line-height: 21.33px;
  padding: 1% 0 1%;
  opacity: 0.7;
}

.footer span {
  color: #ffffff;
}